<div>
  <h2 *ngIf="!expenseInfo || expenseInfo.expenseId === undefined">Add expense</h2>
  <h2 *ngIf="expenseInfo && expenseInfo.expenseId !== undefined">Update expense (ID: {{ expenseInfo.expenseId }})</h2>
  <form>
    <div class="form-group">
      <label for="expense-owner-input">Your Name:</label>
      <input type="text" id="expense-owner-input" [(ngModel)]="expenseInfo.expenseOwner" name="expenseOwner" class="form-control" placeholder="Your name" />
    </div>
    <div class="form-group">
      <label for="date-input">Description:</label>
      <input type="text" id="date-input" [(ngModel)]="expenseInfo.description" name="description" class="form-control" placeholder="Description of expense" />
    </div>
    <div class="form-group">
      <label for="date-input">Category:</label>
      <select [(ngModel)]="expenseInfo.category" name="category" class="form-control">
        <option *ngFor="let key of categoryOptions" [value]="category[key]" [label]="key"></option>
      </select>
    </div>
    <div class="form-group">
      <label for="date-input">Date:</label>
      <input type="date" id="date-input" [(ngModel)]="expenseInfo.date" name="date" class="form-control" />
      <!--<input type="date" id="date-input" [(ngModel)]="moment(expenseInfo.date).format('YYYY-MM-DD')" name="date" class="form-control" />-->
    </div>
    <div class="form-group">
      <label for="amount-input">Amount (₦)</label>
      <input type="number" id="amount-input" [(ngModel)]="expenseInfo.amount" name="amount" class="form-control" />
    </div>
    <button type="button" class="btn btn-primary" (click)="addOrUpdateExpenseRecord($event);">Save</button>

  </form>
</div>
